body, html {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;

    background-color: #32313a;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    --width-sidebar: 290px;
    --margin-contentbar: 10px;
    --gap-contentbar: 10px;
}

textarea {
    resize: none;
    border: 2px solid black;
    border-radius: 4px;

    color: white;

    background-color: #5f6868;
}

textarea:focus {
    outline: 0px;
}

select {
    border: 2px solid black;
    border-radius: 4px;

    font-weight: 700;

    background-color: #5f6868;
    color: white;
}

select:focus {
    outline: 0px;
}

.contentbar {
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
    background-color: #00000000;

    margin: var(--margin-contentbar);
    gap: var(--gap-contentbar);

    height: calc(100vh - calc(var(--margin-contentbar) * 2));
    width: calc(100vw - var(--width-sidebar) - calc(var(--margin-contentbar) * 2));

    font-weight: 700;

    overflow: hidden;
    text-align: center;

    --heigth-new-task: 55%;
    --heigth-last-tasks: calc(100% - var(--heigth-new-task));
}

.app {
    display: flex;
}

.contentbar__new-task {
    background-color: rgb(88, 87, 92);
    height: var(--heigth-new-task);

    width: 100%;
}

.contentbar__last-tasks {
    background-color: rgb(88, 87, 92);
    height: var(--heigth-last-tasks);

    width: 100%;
}

.contentbar__new-content{
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 94%;
}

.contentbar__new-content-section {
    display: flex;

    font-size: 24px;

    margin: 0 auto;
    flex-direction: column;
}

.contentbar__new-content-desc {
    display: flex;

    font-size: 24px;

    margin: 0 auto;
    flex-direction: column;
}

.contentbar__new-content-tags {
    display: flex;

    font-size: 24px;

    margin: 0 auto;
    flex-direction: column;
}

.contentbar__new-content-starttask {
    display: flex;

    width: 190px;
    height: 50px;

    margin: 0 auto;
    flex-direction: column;
}

.contentbar__new-content-starttask > button {
    font-size: 24px;

    color: white;
    background-color: #5f6868;

    border: 2px solid black;
    border-radius: 10px;

    /* transition: ; */
    transition: box-shadow 800ms, transform 400ms;

    width: 100%;
    height: 100%;
}

.contentbar__new-content-starttask > button:hover {
    cursor: pointer;

    box-shadow: 0px 0px 48px  #ffffff;
    ;

    transform: scale(1.05);
}

.sidebar {
    --background-color-sidebar: rgb(44, 49, 56);
    
    width: var(--width-sidebar);
    height: 100vh;
    background-color: var(--background-color-sidebar);

    --heigth-profile: 8%;
    --padding-nav-item: 10px;
}

.sidebar__profile {
    width: var(--width-sidebar);
    height: var(--heigth-profile);
    background: rgb(180, 180, 180);
}

.sidebar__profile_navigation_item {
    display: flex;

    width: calc(100% - 4px);
    font-size: 16px;

    border-left: 4px var(--background-color-sidebar) solid;

    padding: var(--padding-nav-item) 0;

    transition: border-left 450ms;

    justify-content: center;
}


.sidebar__profile_navigation_item:hover {
    border-left-color: rgb(31, 170, 250);
    cursor: pointer;
}

.sidebar__profile_navigation_item-active {
    border-left-color:rgb(255, 0, 0);
}

.sidebar__profile_navigation_item-active:hover {
    border-left-color:rgb(112, 11, 11);
    cursor: pointer;
}

.sidebar__profile_navigation {
    display: flex;

    height: calc(100% - var(--heigth-profile));
    box-sizing: border-box;

    padding: 60px 0px;

    flex-direction: column;
    justify-content: space-between;
}

.contentbar__goals {
    background-color: rgb(88, 87, 92);

    width: 100%;
    height: 100%;
}
