.calendar {
    display: flex;

    text-align: center;

    flex-direction: column;
}

.calendar__content {
    display: flex;

    flex-direction: column;

    width: 500px;
    height: 300px;

    background-color: antiquewhite;
}

.calendar__content_days {
    display: grid;

    height: 70%;
    width: 70%;

    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

    background-color: rgb(199, 181, 158);
}

.day {
    background-color: rgb(59, 58, 58);
    border: 2px solid black;
}

.day-active {
    background-color: red;
    border: 2px solid black;
}